<div class="center jumbotron">
<% provide(:title, "Home") %>
    <h1>ravelol</h1>
    <p>
      This is the home page for ravelol (currently under development).
    </p>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>


